body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

p {
    color: red;
}

button {
    background-color: pink;
    border-radius: 50%;
    border: 1px solid white;
}

form {
    display: grid;

}

#newItemForm {
    visibility: hidden;
}

#container {
    width: fit-content;
}

.item {
    border: 1px solid black;
    width: 200px;
    height: 50px;
}