body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

p {
    color: red;
}

#container {
    width: fit-content;
}

.item {
    border: 1px solid black;
    width: 200px;
    height: 50px;
}