body {
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    /* justify-content: center; */
    margin: 0px;
    margin-top: 15px;
    overflow: hidden;
}

p {
    color: fuchsia;
    text-align: center;
}

button {
    background-color: pink;
    border-radius: 50%;
    border: inherit;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,*:focus,*:hover{
    outline:none;
}


.hide {
    display: none;
}

input, select {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid pink;
    border-radius: 10px;
    position: absolute;
    right: 3px;
    text-indent: 5px;
}

/* applies to all three */
.bigboi {
    background-color: rgb(255, 243, 243);
    border: 1.5px solid rgb(255, 145, 145);
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

.transparent {
    opacity: 45%;
}

/* sort guys */

#sortList {
    border-bottom: 1px solid red;
}

#sortForm {
    display: grid;
    position: relative;
    width: 150px;
    border-left: 0px solid white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.tagLine {
    width: 100px;
    position: relative;
    left: 20%;
    margin-top: 7px;
    margin-bottom: 7px;
    border: 0px solid red;
}

.menu {
    margin: 10px;
    height: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

#clear {
    top: 20%;
    color: fuchsia;
    background-color: inherit;
}

.focused {
    border: 1px solid red;
}

/* form guys */

#newItemForm {
    display: grid;
    position: absolute;
    width: fit-content;
    height: 240px;
    opacity: 100%;
    border-right: 0px solid white;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.forminput {
    width: 300px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.formlabel {
    color: rgb(109, 46, 255);
    position: absolute;
    top: 6px;
    left: 6px;
}

#description {
    height: 50px;
}

#formduedate {
    margin-top: 50px;
}

#priority {
    width: 60px;
    background-color: white;
}

#divsubmit {
    margin-bottom: 100px;
}

#formsubmit {
    position: relative;
    top: 5px;
    border-radius: 20px;
    width: 98%;
    left: 1.5%;
    height: 25px;
}

/* central container guys */

#container {
    position: relative;
    width: 75%;

}

#containerList {
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
}


#newToDo {
    position: absolute;
    top: 20%;
    right: 20px;
}

.item {
    width: 250px;
    height: 50px;
    position: relative;
}

.mainitem {
    border: 1px solid rgb(255, 145, 145);
    border-radius: 15px;
    margin-top: 30px;
}

.itemname {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 20px;
    background-color: inherit;
    text-shadow: 10 10 10;
    border: 0px;
    color: fuchsia;
    display: block;
}

.completebutton {
    position: absolute;
    right: 5px;
    top: 3px;
}

.newTagButton {
    position: absolute;
    right: 5px;
    top: 25px;
}

.sortingtag {
    border: 1px solid red;
}

.tagCarrier {
    display: flex;
    position: absolute;
    top: 31px;
    left: 7px;
}

.tagButton {
    font-size: 11px;
    margin-right: 3px;
}

.bonus {
    position: relative;
}

.description {
    top: 40px;
    /* left: -110px; */
    color: rgb(225, 138, 246);
    /* word-wrap: break-word; */
    overflow-wrap: anywhere;
    font-size: 12px;
    margin: 7px;
}

.dueDate {
    top: 40px;
    left: 17px;
    color: rgb(96, 136, 195);
    font-size: 12px;
}

.priority {
    top: 30px;
    left: 220px;
    color: rgb(96, 136, 195);
    font-size: 12px;
}

.new {
    animation-name: newanim;
    animation-duration: 0.3s;
}

@keyframes newanim {
    0% {
        height: 0px;
    }
    100% {
        height: 50px;
    }
}


.shorter {
    animation-name: shorteranim;
    animation-duration: 0.3s;
}

@keyframes shorteranim {
    0% {
        height: 100px;
    }
    100% {
        height: 50px;
    }
}

.taller {
    /* min-height: 100px; */
    height: 130px;
    animation-name: talleranim;
    animation-duration: 0.3s;
}

@keyframes talleranim {
    0% {
        height: 50px;
    }
    100% {
        height: 130px;
    }
}

.goodbye {
    animation-name: byenow;
    animation-duration: 0.3s;
    opacity: 0%;
}

@keyframes byenow {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.byenow {
    height: 0px;
    animation-name: byenow;
    animation-duration: 0.3s;
    opacity: 0%
}

@keyframes byenow {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.Low {
    background-color: rgb(255, 243, 243);
}

.Mid {
    background-color: rgb(255, 230, 230);
}

.High {
    background-color: rgb(255, 217, 217);
}

/* Completed List guys */

#completedContainer {
    position: absolute;
    /* right: 0px; */
    top: 300px;
    border-right: 0px solid white;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    overflow: hidden;
    /* border-top: 1.5px solid rgb(255, 145, 145); */
}

#returncompleted {
    position: absolute;
    left: 25%;
    width: 50%;
    top: 20%;

}


/* Selectors */

#ex {
    position: absolute;
    left: 0px;
    /* top: 200px; */
    width: 40px;
    border-left: 0px solid white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}



#plus {
    position: absolute;
    right: 0px;
    /* bottom: 120px; */
    width: 40px;
    border-right: 0px solid white;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#checkmark {
    position: absolute;
    right: 0px;
    top: 300px;
    width: 40px;
    border-right: 0px solid white;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}


/* Transitions */

.transitionleft {
    animation-name: transitionleft;
    animation-duration: 0.4s;
    animation-timing-function: linear;
}

@keyframes transitionleft {
    0% {
        left: -150px;
    }
    100% {
        left: 0px;
    }
} 

.disappearleft {
    animation-name: disappearleft;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    left: -152px;
}

@keyframes disappearleft {
    0% {
        left: 0px;
    }
    100% {
        left: -150px;
    }
}




.transitionright {
    animation-name: transitionright;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    right: 0px;
}

@keyframes transitionright {
    0% {
        right: -300px;
    }
    100% {
        right: 0px;
    }
}

.disappearright {
    animation-name: disappearright;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    right: -302px;
}

@keyframes disappearright {
    0% {
        right: 0px;
    }
    100% {
        right: -300px;
    }
}