/* Completed List guys */

#completedContainer {
	margin-top: 200px;
	width: 100%;
	border-right-width: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

@media (max-width: 1023px) {
	#completedContainer {
		position: absolute;
		margin: 0;
		display: flex;
		top: initial;
		left: 2%;
  		width: 96%;
		height: 70px;
		bottom: 0;
  		border-bottom-left-radius: 0px;
  		border-top-right-radius: 15px;
		border-right-width: 1px;
  	}
}

#completed-menu {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#completedList {
	max-height: 330px;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 50px;
	overflow-y: scroll;
	overflow-x: hidden;
}

@media (max-width: 1023px) {
	#completedList {
		max-height: 100%;
		height: 100%;
		width: 100%;
		display: flex;
		overflow-x: scroll;
		overflow-y: hidden;
	}
}

@media (max-width: 1023px) {
	#completedList .description {
		display: none;
	}
}


#completedList .tagCarrier {
	left: initial;
	right: 35px;
	top: 6px;
}

#returncompleted {
	left: 20%;
	width: 70%;
	top: 10%;
	border-radius: 15px;
}

@media (max-width: 1023px) {
	#returncompleted {
		font-size: x-small;
		width: 80%;
		height: 50%;
	}
}

.forever {
	animation-name: BYE;
	animation-duration: 0.3s;
	opacity: 0%;
}

@keyframes BYE {
	100% {
		height: 0px;
	}
}

::-webkit-scrollbar {
	width: 5px;
}

@media (max-width: 1023px) {
	::-webkit-scrollbar {
		width: 2px;
	}
}

::-webkit-scrollbar-track {
	background-color: lightcoral;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(0, 140, 255);
}
