/* form guys */
#newItemForm {
	display: grid;
	position: absolute;
	width: fit-content;
	height: 240px;
	opacity: 100%;
	border-right: 0px solid white;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

input,
select,
textarea {
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid pink;
	border-radius: 10px;
	position: absolute;
	right: 3px;
	text-indent: 5px;
	resize: none;
	width: 170px;
}

.forminput {
	width: 300px;
	position: relative;
	margin-top: 15px;
	margin-bottom: 15px;
}

.formlabel {
	color: rgb(109, 46, 255);
	position: absolute;
	top: 6px;
	left: 6px;
}

#description {
	height: 50px;
}

#formduedate {
	margin-top: 50px;
}

#priority {
	width: 60px;
	background-color: white;
}

#divsubmit {
	margin-bottom: 100px;
}

#formsubmit {
	position: relative;
	top: 5px;
	border-radius: 20px;
	width: 98%;
	left: 1.5%;
	height: 25px;
}