/* central container guys */
#container {
	position: relative;
	width: 75%;
}

#containerList {
	justify-items: center;
	align-items: center;
	grid-auto-flow: dense;
	display: grid;
	grid-template-columns: repeat(auto-fill, 280px);
}

#newToDo {
	position: absolute;
	top: 20%;
	right: 20px;
}

.item {
	width: 260px;
	height: 50px;
	position: relative;
	border-top: 1px solid rgb(255, 145, 145);
}

.mainitem {
	border: 1px solid rgb(255, 145, 145);
	width: 250px;
	border-radius: 15px;
	margin-top: 30px;
	animation-name: main;
	animation-duration: 0.4s;
}

@keyframes main {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

.itemname {
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 20px;
	background-color: inherit;
	text-shadow: 10 10 10;
	border: 0px;
	color: fuchsia;
	display: block;
}

.itemname:hover {
	color: purple;
	animation-name: clrprpl;
	animation-duration: 0.62s;
}

@keyframes clrprpl {
	0% {
		color: fuchsia;
	}
	100% {
		color: purple;
	}
}

.completebutton {
	position: absolute;
	left: 221px;
	top: 3px;
	border: 1px solid rgb(255, 145, 145);
}

.newTagButton {
	position: absolute;
	left: 222px;
	top: 25px;
	border: 1px solid rgb(255, 145, 145);
}

.sortingtag {
	border: 1px solid red;
}

.tagCarrier {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: 31px;
	left: 7px;
}

.tagButton {
	font-size: 11px;
	margin-right: 3px;
	margin-bottom: 3px;
	border-radius: 15px;
}

.tagButton:hover,
.completebutton:hover,
.newTagButton:hover,
.slctr:hover {
	background-color: rgb(248, 80, 108);
	animation-name: clrchrry;
	animation-duration: 0.62s;
}

@keyframes clrchrry {
	0% {
		background-color: pink;
	}
	100% {
		background-color: rgb(248, 80, 108);
	}
}

.bonus {
	animation-name: bonusanim;
	animation-duration: 1s;
}

@keyframes bonusanim {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

.description {
	position: relative;
	top: 40px;
	height: 55px;
	color: rgb(225, 138, 246);
	overflow-wrap: anywhere;
	font-size: 12px;
	margin: 7px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.dueDate {
	position: absolute;
	bottom: 5px;
	left: 17px;
	color: rgb(96, 136, 195);
	font-size: 12px;
}

.priority {
	position: absolute;
	bottom: 5px;
	right: 15px;
	color: rgb(96, 136, 195);
	font-size: 12px;
}

.new {
	animation-name: newanim;
	animation-duration: 0.3s;
}

@keyframes newanim {
	0% {
		height: 0px;
	}
	100% {
		height: 50px;
	}
}

.shorter {
	animation-name: shorteranim;
	animation-duration: 0.3s;
}

@keyframes shorteranim {
	0% {
		height: 100px;
	}
	100% {
		height: 50px;
	}
}

.taller {
	/* min-height: 100px; */
	height: 130px;
	animation-name: talleranim;
	animation-duration: 0.3s;
}

@keyframes talleranim {
	0% {
		height: 50px;
	}
	100% {
		height: 130px;
	}
}

.goodbye {
	animation-name: gbye;
	animation-duration: 0.3s;
	opacity: 0%;
}

@keyframes gbye {
	0% {
		opacity: 100%;
	}
	100% {
		opacity: 0%;
	}
}

.byenow {
	height: 0px;
	animation-name: byenow;
	animation-duration: 0.3s;
	opacity: 0%;
}

@keyframes byenow {
	0% {
		opacity: 100%;
	}
	100% {
		opacity: 0%;
	}
}

.Low {
	background-color: rgb(255, 243, 243);
}

.Mid {
	background-color: rgb(255, 230, 230);
}

.High {
	background-color: rgb(255, 217, 217);
}

