/* Selectors */

@mixin selector {
	position: absolute;
	width: 40px;
	right: 0px;
	border-right: 0px solid white;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;	
}

#ex {
	@include selector;
	top: 120px;
}

#plus {
	@include selector;
	top: 40px;
}

#checkmark {
	@include selector;
	top: 200px;
}