/* Selectors */


@mixin selector($top) {
	position: absolute;
	width: 40px;
	right: 0px;
	border-right: 0px solid white;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;	
	top: $top;

}

@mixin phoneselector($left) {
		position: absolute;
		width: 40px;
		bottom: 0px;
		border-bottom: 0px solid white;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;	
		left: $left;
		display: flex;
		justify-content: center;
}

#ex {
	@media (min-width: 1024px) {
		@include selector(120px)
	}

	@media (max-width: 1023px) {
		@include phoneselector(120px)
	}
}

#plus {
	@media (min-width: 1024px) {
		@include selector(40px)
	}

	@media (max-width: 1023px) {
		@include phoneselector(40px)
	}
}

#checkmark {
	@media (min-width: 1024px) {
		@include selector(200px)
	}

	@media (max-width: 1023px) {
		@include phoneselector(200px)
	}
}

.slctr {
	width: 2ch;
	border: 0px solid pink;
	border-radius: 50%;
}
