/* sort guys */
#sortForm {
	display: grid;
	position: absolute;
	width: 150px;
	border-right: 0px solid white;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

#sortList {
	border-bottom: 1px solid red;
}


.tagLine {
	width: 100px;
	position: relative;
	left: 15%;
	margin-bottom: 14px;
	border: 0px solid red;
	border-radius: 15px;
}

#clear {
	top: 20%;
	color: fuchsia;
	background-color: inherit;
}

.slctr {
	width: 18px;
	position: relative;
	left: 11px;
	border: 0px solid pink;
	border-radius: 50%;
}
