/* Transitions */

.transitionright {
	animation-name: transitionright;
	animation-duration: 0.4s;
	animation-timing-function: linear;
	right: 0px;
}

@keyframes transitionright {
	0% {
		right: -300px;
	}
	100% {
		right: 0px;
	}
}

@media (max-width: 1023px) {
	.transitionright {
		bottom: 0;
	}

	@keyframes transitionright {
		0% {
			bottom: -300px;
		}
		100% {
			bottom: 0px;
		}
	}
}

.disappearright {
	animation-name: disappearright;
	animation-duration: 0.4s;
	animation-timing-function: linear;
	right: -302px;
}

@keyframes disappearright {
	0% {
		right: 0px;
	}
	100% {
		right: -300px;
	}
}

@media (max-width: 1023px) {
	.disappearright {
		bottom: -300;
	}

	@keyframes transitionright {
		0% {
			bottom: 0;
		}
		100% {
			bottom: -300px;
		}
	}
}