@import "reset";
@import 'maincontain';
@import "selectors";
@import "transitions";
@import "completed";
@import "sort";
@import "form";

/* Apply everywhere or to most areas */

body {
	font-family: Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	display: flex;
	margin: 0px;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

@media (max-width: 1023px) {
	body {
		flex-direction: column;
	}
}

p {
	color: fuchsia;
	text-align: center;
}

button {
	background-color: pink;
	border-radius: 50%;
	border: inherit;
	font-family: Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*:focus,
*:hover {
	outline: none;
}

.bigboi {
	background-color: rgb(255, 243, 243);
	border: 1.5px solid rgb(255, 145, 145);
	border-radius: 15px;
	width: fit-content;
	height: fit-content;
	overflow: hidden;
}

#stuff {
	flex: 0 0 260px;
	// width: 260px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
	box-sizing: border-box;
}

@media (max-width: 1023px) {
	#stuff {
		flex: 0 0 150px;
		width: 100%;
		display: block;
	}
}

.menu {
	margin: 10px;
	height: 20px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1023px) {
	.menu {
		height: 100%;
		width: 100px;
		margin: 0px;
	}
}

.hide {
	display: none;
	visibility: hidden;
}

.transparent {
	opacity: 0.5;
}

.focused {
	border: 1px solid red;
}
